.layui-card{
    /* margin: 10px; */
    background-color: #fff;
    padding: 0px 20px;
}
body{
    background-color: #ccc;
}
.layui-card-header{
    height: 50px;
    /* color:#fff; */
    font-size: 20px;
    line-height: 50px;
}
.layui-card-body{
    padding: 10px 15px;
}
form{
    width: 500px;
}
.layui-form-label{
    display: block;
    float: left;
    /* height: 40px; */
    text-align: right;
    /* line-height: 40px; */
    padding:10px 10px;
}
input{
  width: 100%;
    min-height:36px ;
    padding-left:10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.layui-form-block{
   margin-left: 100px;
    margin-bottom:15px;
}
.layui-form-item{
    margin-bottom: 15px;
}
.layui-input-block {
    margin-left: 100px;
    /* min-height: 36px; */
    /* height: 100%; */
}